<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd" bootstrap="vendor/autoload.php" colors="true" beStrictAboutOutputDuringTests="true" beStrictAboutTestsThatDoNotTestAnything="true" failOnWarning="true" failOnRisky="true" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Core">
      <directory suffix="Test.php">./tests/Unit/Core</directory>
    </testsuite>
    <testsuite name="Laravel">
      <directory suffix="Test.php">./tests/Unit/Laravel</directory>
    </testsuite>
    <testsuite name="Symfony">
      <directory suffix="Test.php">./tests/Unit/Symfony</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="-1"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>
